argon2_cffi==23.1.0
bleach==6.2.0
dash==2.18.2
datasets==3.2.0
Flask-Mailman==1.1.1
Flask-Security==5.5.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2 
folium==0.19.4
heatchmap==0.2.2
mpld3==0.5.10 
networkx==3.4.2
numpy==2.2.2
pandas==2.2.3
plotly==6.0.0
pre-commit==4.1.0
pycountry==24.6.1
requests-cache==1.2.1
ruff==0.9.4
shapely==2.0.7
simplejson==3.19.3
xyzservices==2025.1.0